openapi: 3.0.1
info:
  title: CIRCL CVE Search API
  description: >
    Query CIRCL CVE Search to retrieve CVE vulnerability details.
    CIRCL mirrors CVE records from MITRE and NVD, providing a free,
    unauthenticated REST API. Returns CVE descriptions, CVSS v3.1 scores,
    affected products, and reference links in CVE JSON 5.1 format.
  version: 1.0.0
  contact:
    name: CIRCL CVE Search
    url: https://cve.circl.lu

servers:
  - url: https://cve.circl.lu
    description: CIRCL CVE Search API

paths:
  /api/cve/{cveId}:
    get:
      operationId: getCveById
      summary: Look up a specific CVE by its identifier
      description: >
        Retrieve full vulnerability details for a specific CVE identifier.
        Use this when the user provides a CVE ID such as CVE-2024-21413 or CVE-2021-44228.
        The CVSS v3.1 base score is in containers.adp[].metrics[].cvssV3_1.baseScore.
        The severity is in containers.adp[].metrics[].cvssV3_1.baseSeverity (CRITICAL/HIGH/MEDIUM/LOW).
        The description is in containers.cna.descriptions[0].value.
        The affected vendor and product are in containers.cna.affected[0].vendor and .product.
      parameters:
        - name: cveId
          in: path
          required: true
          schema:
            type: string
            example: CVE-2024-21413
          description: >
            The exact CVE identifier. Format must be CVE-YYYY-NNNNN.
            Examples: CVE-2024-21413, CVE-2021-44228, CVE-2023-44487.
      responses:
        '200':
          description: CVE record returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  dataType:
                    type: string
                  cveMetadata:
                    type: object
                    properties:
                      cveId:
                        type: string
                        description: The CVE identifier
                      state:
                        type: string
                        description: PUBLISHED or REJECTED
                      datePublished:
                        type: string
                        description: Publication date
                      dateUpdated:
                        type: string
                      assignerShortName:
                        type: string
                  containers:
                    type: object
                    properties:
                      cna:
                        type: object
                        description: Data from the assigning organization
                        properties:
                          title:
                            type: string
                            description: Short vulnerability title
                          descriptions:
                            type: array
                            items:
                              type: object
                              properties:
                                lang:
                                  type: string
                                value:
                                  type: string
                                  description: Full vulnerability description
                          affected:
                            type: array
                            description: Affected vendors and products
                            items:
                              type: object
                              properties:
                                vendor:
                                  type: string
                                product:
                                  type: string
                                versions:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      version:
                                        type: string
                                      status:
                                        type: string
                          references:
                            type: array
                            items:
                              type: object
                              properties:
                                url:
                                  type: string
                                tags:
                                  type: array
                                  items:
                                    type: string
                      adp:
                        type: array
                        description: >
                          Authorized Data Publishers section (e.g. NVD).
                          Contains authoritative CVSS v3.1 scores.
                          CVSS data is at adp[].metrics[].cvssV3_1.
                        items:
                          type: object
                          properties:
                            title:
                              type: string
                            metrics:
                              type: array
                              items:
                                type: object
                                properties:
                                  cvssV3_1:
                                    type: object
                                    properties:
                                      baseScore:
                                        type: number
                                        description: CVSS base score 0.0-10.0
                                      baseSeverity:
                                        type: string
                                        description: CRITICAL, HIGH, MEDIUM, or LOW
                                      attackVector:
                                        type: string
                                        description: NETWORK, ADJACENT, LOCAL, or PHYSICAL
                                      attackComplexity:
                                        type: string
                                      privilegesRequired:
                                        type: string
                                      userInteraction:
                                        type: string
                                      vectorString:
                                        type: string
                                      confidentialityImpact:
                                        type: string
                                      integrityImpact:
                                        type: string
                                      availabilityImpact:
                                        type: string
        '404':
          description: CVE not found
        '429':
          description: Rate limit exceeded (20 requests per minute). Wait 60 seconds.
